/* Will be compiled down to a single stylesheet with your sass files */

/* app css stylesheet */

body {
  padding-top: 20px;
}

.phones {
  list-style: none;
}

.thumb {
  float: left;
  margin: 1em 1em 1.5em 0em;
  padding-bottom: 1em;
  height: 100px;
  width: 100px;
/*  margin-top: 10px;
*/}

.phones li {
  clear: both;
  height: 140px;
  padding-top: 15px;
}


.verbiage {
  width: 80%;
}