<div ng-include="" src="'views/nav.html'"></div>

<input type="text" ng-model="search" class="span4 search-query" placeholder="Search">
<br>
<br>

<table class="table table-bordered table-striped">
  <thead>
  <tr>
    <th><a href="" ng-click="sortKey='-date'">Date Ordered</a></th>
    <th><a href="" ng-click="sortKey='orderNumber'">Order Number</a></th>
    <th><a href="" ng-click="sortKey='track'">Tracking Number</a></th>
    <th><a href="" ng-click="sortKey='status'">Weight</a></th>
    <th><a href="" ng-click="sortKey='status'">Amount Due</a></th>
    <th><a href="" ng-click="sortKey='status'">Paid</a></th>
    <th><a href="" ng-click="sortKey='status'">Status</a></th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="order in orders | filter:search | orderBy:sortKey">
    <td>{{order.date | date:'shortDate'}}</td>
    <td>{{order.orderNumber}}</td>
    <td>{{order.track}}</td>

    <td> <span ng-show="order.weight">{{order.weight}} lbs</span>  </td>
    <td>{{order.amountDue | currency:"￥"}}</td>
    <td><i class="{{order.paid && 'icon-check' || 'icon-check-empty'}}"></i></td>

    <td>
          <div class="btn-group">
              <a class="btn" tooltip-html-unsafe="{{statuses[order.status-1].name}}" disabled="disabled"><i ng-class="statuses[order.status-1].class"></i></a>
          </div> 
                {{statuses[order.status-1].name}}
    </td>

  </tr>
  </tbody>
</table>