<div ng-include="" src="'views/nav.html'"></div>

<div ng-show="admin">

  <div>
  <input type="text" ng-model="search.date" class="span4 search-query" placeholder="Search">
  <a class="btn btn-info" href="#/edit-orders/new"><i class="icon-plus-sign"></i> New Order</a>

  <label for="china">
    <input name="china" id="china" type="checkbox" ng-model="china"> Show orders already received in China
  </label>
  </div>
  <br>
  <br>

  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>&nbsp;</th>
      <th><a href="" ng-click="sortKey='-date'">Date Ordered</a></th>
      <th>
        <a href="" ng-click="sortKey='order'">Order Number</a> /<br>
        <a href="" ng-click="sortKey='track'">Tracking Number</a> </th>
      <th>
        <a href="" ng-click="sortKey='user'">User</a>
        <a href="" ng-click="sortKey='merchant'">Merchant</a>
      </th>
      <th><a href="" ng-click="sortKey='weight'">Weight</a> /<br> Amount Due</th>
      <th><a href="" ng-click="sortKey='paid'">Paid</a></th>
      <th><a href="" ng-click="sortKey='status'">Status</a></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="order in orders | filter:search | filter:myFilter() | orderBy:sortKey">
      <td><a href="#/edit-orders/{{order._id.$oid}}"><i class="icon-edit"></i></a></td>   
      <td>{{order.date | date:'shortDate'}}</td>
      <td>
        <a href="#/edit-orders/{{order._id.$oid}}"><nobr>{{order.orderNumber}}</nobr></a><br>
        {{order.track}}
      </td><td>{{order.user.first + ' ' +  order.user.last}}<br>{{order.merchant}}</td>
      <td>
        <span ng-show="order.weight">{{order.weight}} lbs </span><br>
        {{order.amountDue | currency:"￥" }} 

      </td>
      <td><i class="{{order.paid && 'icon-check' || 'icon-check-empty'}}"></i></td>
      <td style="width: 250px">
            <div class="btn-group">
                <a ng-repeat="status in statuses" type="button" class="btn" ng-model="order.status" btn-radio="status.id" tooltip-html-unsafe="{{status.name}}" ng-click="saveStatus(order)"><i ng-class="status.class"></i></a>
            </div>
      </td>
    </tr>
    </tbody>
  </table>

</div>