<div ng-include="" src="'views/nav.html'"></div>

<div ng-show="admin">


  <a class="btn btn-info" href="#/edit-orders/new"><i class="icon-plus-sign"></i> New Order</a>
  <br>
  <br>

  <input type="text" ng-model="search" class="search-query" placeholder="Search">
  <br>
  <br>

  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>&nbsp;</th>
      <th><a href="" ng-click="sortKey='-date'">Date Ordered</a></th>
      <th><a href="" ng-click="sortKey='track'">Tracking Number</a></th>
      <th><a href="" ng-click="sortKey='merchant'">Merchant</a></th>
      <th><a href="" ng-click="sortKey='user'">User</a></th>
      <th><a href="" ng-click="sortKey='status'">Status</a></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="order in orders | filter:search | orderBy:sortKey">
      <td><a href="#/edit-orders/{{order._id.$oid}}"><i class="icon-pencil"></i></a></td>   
      <td>{{order.date | date:'shortDate'}}</td>
      <td><a href="#/edit-orders/{{order._id.$oid}}">{{order.track}}</a></td>
      <td>{{order.merchant}}</td>
      <td><img class="img-tiny" ng-src="{{order.user.imageUrl}}"> {{order.user.first + ' ' + order.user.last}}</td>
      <td style="width: 250px">
            <div class="btn-group">
                <a ng-repeat="status in statuses" type="button" class="btn" ng-model="order.status" btn-radio="status.id" tooltip-html-unsafe="{{status.name}}" ng-click="saveStatus(order)"><i ng-class="status.class"></i></a>
            </div>
      </td>
    </tr>
    </tbody>
  </table>

</div>