<div ng-include="" src="'views/nav.html'"></div>

<div ng-show="admin">


  <a class="btn btn-info" href="#/pages/new"><i class="icon-plus-sign"></i> New Page</a>
  <br>
  <br>
  <input type="text" ng-model="search" class="search-query" placeholder="Search">
  <br>
  <br>


  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th class="span1">&nbsp;</th>
      <th>Name</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="page in pages | filter:search | orderBy:'name'">
      <td><a href="#/pages/{{page._id.$oid}}"><i class="icon-pencil"></i></a></td>    
      <td><a href="#/pages/{{page._id.$oid}}">{{page.name}}</a></td>
    </tr>
    </tbody>
  </table>
  
</div>