<div ng-include="" src="'views/nav.html'"></div>

<div ng-show="admin">
  <br>
  <div class="alert alert-success">
    <strong>Product Edit</strong> 
  </div>

  <form name="myForm">

    <div class="control-group" ng-class="{error: myForm.name.$invalid}">
      <label>Category</label>
      <select ng-model="product.category">
        <option ng-repeat="option in options" value="{{option.code}}" ng-selected=" product.category == option.code ">{{option.name}}</option>
      </select>
      <span ng-show="myForm.product.category.$error.required" class="help-inline">Required</span>
    </div>


    <div class="control-group" ng-class="{error: myForm.id.$invalid}">
      <label>ID</label>
      <input type="text" name="id" ng-model="product.id" required="">
      <span ng-show="myForm.id.$error.required" class="help-inline">Required</span>
    </div>

    <div class="control-group" ng-class="{error: myForm.name.$invalid}">
      <label>Name</label>
      <input type="text" name="name" ng-model="product.name" required="">
      <span ng-show="myForm.name.$error.required" class="help-inline">Required</span>
    </div>

    <div class="control-group" ng-class="{error: myForm.price.$invalid}">
      <label>Price</label>
      <input type="text" name="price" ng-model="product.price" required="">
      <span ng-show="myForm.price.$error.required" class="help-inline">Required</span>
    </div>

    <div class="control-group" ng-class="{error: myForm.imageUrl.$invalid}">
      <label>Image Url</label>
      <input type="url" name="imageUrl" ng-model="product.imageUrl" required="">
      <span ng-show="myForm.imageUrl.$error.required" class="help-inline">Required</span>
      <span ng-show="myForm.imageUrl.$error.url" class="help-inline">Not a URL</span>
    </div>

    <label>Description</label>
    <textarea name="description" ng-model="product.description"></textarea>

    <br>
    <a href="#/edit-products" class="btn"><i class="icon-list"></i> Product List</a>
    <button ng-click="save()" ng-disabled="isClean() || myForm.$invalid" class="btn btn-primary">Save</button>
    <button ng-click="destroy()" ng-show="product._id" class="btn btn-danger">Delete</button>
  </form>

</div>