

<div ng-include="'views/nav.html'"></div>

<div class="hero-unit">
  <h1>欢迎你来分箱(享)快乐</h1>
</div>


<div class="home-container">
  <div class="verbiage">

  <p>
  网站使用须知：（请必须阅读）
  </p>
  <p>  
  这是我个人海购需求而引发的为已为朋友方便的一个小众物流网站（帮朋友将美国的货品运到中国）。本网站只针对那些和我一样需要采购美国日常家用小产品（日常衣、物）的朋友，**备注：昂贵的大品牌奢侈品和非常易碎的物品，请去淘宝网等专业代购网站。
  </p>
  <p>  
  如果你是：
  </p>
  <p>  
  A）A类：自己可以从美国各大网站订购东西，请将订购的物品直接快递到以下美国地址，同时请将美国网给你发货的确认邮件发给：fenxiangkuaile2@gmail.com, 我们在美国收到货品后将帮你运到北京的海淀桥，你可以自己来取或付费快递到你的地址。货品从美国到北京的运费为：￥50/磅，货品重量在物品网站上有标注，如果是衣物鞋等网站上没有标注的物品，会参考物品在美国境内运输时标注的重量来计算。（重量常用换算： 1(磅)=16(OZ) 1(OZ)=29.57(ml)）
  </p>
  <p>  
  美国邮寄地址： <br>
  Attn: Box Pool      （收件人姓名）<br>
  Address: 171 Alpine Way （收件人地址）<br>
  City: San Bruno     （收件人所在城市名称）<br>
  State: CA (California)    （地址所属洲）<br>
  Zip code: 94066     （邮政编码）<br>
  </p>
  <p>  
  B）B类： 自己无法直接采购美国网站的朋友（有的美国网站不能使用中国信用卡支付物品），请将你需要采购的物品链接发给：fenxiangkuaile2@gmail.com, 同时将货物采购款打入以下银行账户（你的物品采购价格￥请看下面算式），被采购货物将从美国运到北京的海淀桥，你可以自己来取或付费快递到你的地址。货品从美国到北京的运费为：￥50/磅。货品重量在物品网站上有，如果是衣服鞋等网站上没有重量的物品，会参考物品在美国境内运输时标注的重量来计算。（重量常用换算： 1磅=16OZ， 1OZ=29.57ml）
  </p>
  <p>  
  物品采购价格 ￥= 物品美金单价×物品数量×1.09（美国加洲税）×6.3（汇率）
  ***说明：汇率固定不跟每天牌价走，我不是切汇的，没有功夫天天去查汇率。
  采购款请打入：
  开户行：招商银行朝阳门支行
  开户名： DENGXUELAN
  开户账号： 4100 6201 1369 022
  </p>
  <p>  
  C）C类：如果你超级懒，可以采购我网站的推荐产品，产品价格包含运费。（我不是产品推销员，只是多年使用产品有些喜爱的东西和大家分享。）请将选中的产品号和数量发到：fenxiangkuaile2@gmail.com，货物订购到北京后会邮件或电话通知。
  </p>
  <p>  
  备注：我不是开物流公司的，走的是美国邮政的一般包裹，没有各大物流公司能承包集装箱那么便宜，我能提供的是只要物品到指定的美国地址，第一不会有物品差错，第二速度比各大物流公司快因为包裹小中国海关一般放行快。所以请有需求的朋友调整好期待值，美国境内运输要等你收到美国发货通知后5个工作日左右到美国地址，美国到北京需要：10-15天，国际货品运单在美国发出后会邮件给大家，网上可以查询。 
  </p>
  <p class="red">  
  警告： 这是个分箱(享)快乐网站，负能量超级强的朋友请去淘宝网等知名海购网，谢谢！
  </p>

  </div>
</div>