<br>

<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">分箱快乐</a>
    <ul class="nav">
      <li ng-class="{active:active('/')}"><a href="#/">Home - 主页</a></li>
      <li ng-class="{active:active('/products')}"><a href="#/products">Products - xxx</a></li>
    </ul>
    <ul class="nav pull-right">
      <li ng-hide="admin" ng-class="{active:active('/login')}"><a href="#/login">Log In</a></li>
      <li ng-show="admin" ><a href="" ng-click="logout()" >Log Out</a></li>
    </ul>  </div>
</div>

<div ng-show="admin" class="navbar">
  <div class="navbar-inner">
    <ul class="nav">
      <li ng-class="{active:active('/pages')}"><a href="#/pages">Edit Pages - xxx</a></li>
      <li ng-class="{active:active('/categories')}"><a href="#/categories">Edit Categories - xxx</a></li>
      <li ng-class="{active:active('/edit-products')}"><a href="#/edit-products">Edit Products - xxx</a></li>
    </ul>
  </div>
</div>

