

<div ng-include="'views/nav.html'"></div>

<div class="hero-unit">
  <h1>Products - 产品</h1>
</div>



<div class="categories">

  <div class="btn-group">
      <button 
        ng-repeat="category in categories"
        tooltip="{{category.comment}}"
        type="button" 
        class="btn btn-primary " 
        ng-model="radio.category" 
        btn-radio="category.id">{{category.name}}</button>
  </div>

</div>


<div class="container-fluid">
  <div class="row-fluid">

      <div class="span1">
        <!--Sidebar content-->
      </div>
      <div class="span10">
        <!--Body content-->

        <ul class="products">
          <li class="thumbnail" ng-repeat="product in products | filter:{category:radio.category} " >
            <img class="thumb" ng-src="{{product.image}}">
            <span class="product-title">{{product.name}}</span>
            <p>{{product.desc}}</p>
            <p>Product ID: <strong>{{product.id}}</strong> - Price: <strong>¥{{product.price}}</strong></p>
          </li>
        </ul>

      </div>

  </div>
</div>
